<!DOCTYPE html>
<html> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Castle Classification</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Castle Classification</h1>
        </header>
        <div class="content">
            <section class="information">
                <div class="description">                   
                    <p>Which type of castle is your favorite one? </p>
                    <p>Let's try to submit image!!</p>
                    <form method='POST' enctype="multipart/form-data">
                        <input class='file_choose' type="file" name="file">
                        <input class='btn' value="submit!" type="submit">
                    </form>
                    <div class='answer'>{{answer}}</div>
                    <a href="#"><img src="static/castle.png" alt="castle types"></a>
                </div>
            </section>            
        </div>
        <footer>
            &copy; 2021 kens
        </footer>
    </div>
</body>
</html>